<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.DBSistemaAlumnos"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;G:\Fabiana\Work\UNJU\2016\LPOO I\Clases Teóricas\Clase 3\Ejemplos en VS\EjemploAccesoDatos\SistemaAlumnosDB.mdf&quot;;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>